/* *{
  margin: 0px;
  padding: 0px;
} */
 .logodiv{
  margin-top: 5px;
  margin-left: 5px;
 }
.Chatbotlogo{
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-image: url(C:\Users\DELL\Desktop\SIH24\online-chatbot-ticket-booking-system\ChatbotLogo.jpg);
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
}

.res{
  /* height: 80px; */
  width: 200px;
  margin: 20px 0;
  margin-left: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
}

.resbox{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  margin-left: 4px;
  padding-top: 5px;
}

.res .nameChatbot{
  margin: 0px 6px;
  align-self: flex-start;
  font-weight: 550;
  flex-basis: 100%;
  text-align: start;
}

.res .resmsg{
  margin: 0px;
  margin-left: 6px;
  font-size: 0.9rem;
  flex-basis: 100%;
  text-align: start;
}